*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}
a{
    color: rgba(0, 0, 0, 0.95);
}
/*.container{
    justify-content: space-between;
    margin: auto;
} */

.clear{
    content: "";
    display: block;
    clear: both;
}

/* NAV */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.fs-2{
    font-size: 1.44rem;
}
.title-a{
    color: #FCAE61;
}
.title-b{
    color: #242F51;
}
.navbar-toggler{
color: rgba(0, 0, 0, 0.95);
border-color: rgba(0, 0, 0, 0.1);
}
.fa-bars{
    padding-top: 5px;
}
.btn-primary{
    background-color: #2500F9;
}
.btn-lg{
    font-size: 1rem;
    padding: .6rem 1.8rem;
}
.navbar{
    backdrop-filter: blur(4px);
    background-color: rgb(225,225,225,0);
}

/* HEADER */
header{
    position: relative;;
}
.bg-holder{
    background-image: url(img/hero-bg.png);
    background-position:bottom center ;
    background-repeat: repeat-x;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.location-span{
    background-color: #E2EAED;
    width: auto;
    padding: .8rem 7rem .8rem 1px;
    font-size: 12px;
    font-weight: bold;
}

header .badge{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.py-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
}
.mb-4{
    font-size: 3rem;
}
.fs-1{
    font-size: 1.2rem !important;
   
}
.btn-link{
    color:#2500F9;
    text-decoration: none;
}
.bg-color{
    background-color: #E2EAED;
}
.mr-2{
    margin-right: 10px;
}


/* SECTION */
.companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* SECTION-2*/
.h2{
    font-weight: 700 !important;
    color: #242F51;
}
.img-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-2 .img-fluid{
    max-width: 100%;
    height: auto;
}
.section-2 .time-section h5{
    color: #F55767 ;
    font-weight: 600;
}
.section-2 .time-section p{
    color: #616368;
    font-weight: 400;
    width: 50%;
}

.section-2 .prototyping h5{
    color: #2500F9 ;
    font-weight: 600;
}

.section-2 .prototyping p{
    color: #616368;
    font-weight: 400;
    width: 50%;
}

.section-2 .vector h5{
    color: #40975F ;
    font-weight: 600;
}
.section-2 .vector p{
    color: #616368;
    font-weight: 400;
    width: 50%;
}

/* SECTION-3 */
.section-3 .font-weight{
    font-weight: 700 !important;
    line-height: 1.5!important;
    font-size: 2.4rem;
    color: #242F51;
}
.section-3 p{
    color: #616368;
}
.section-title{
    width: 100%;
}
.section-description{
    width: 100%;
}

/* SECTION-4 */
.section-4 .section-2 .img-fluid{
    max-width: 100%;
    height: auto;
}
.section-4.time-section h5{
    color: #F55767 ;
    font-weight: 600;
}
.section-4 .time-section p{
    color: #616368;
    font-weight: 400;
 
}

.section-4 .prototyping h5{
    color: #2500F9 ;
    font-weight: 600;
}

.section-4 .prototyping p{
    color: #616368;
    font-weight: 400;
   
}

.section-4 .vector h5{
    color: #40975F ;
    font-weight: 600;
}
.section-4 .vector p{
    color: #616368;
    font-weight: 400;
    
}
/* SECTION-5 */
.section-5 .fw-bold{
    font-weight: 700 !important;
    font-size: 2.1rem;
}
.designed{
    padding-left: 5rem;
}
.section-5 h3{
    color: #242F51;
    width: 65%;
}
.section-5 p{
    color: #616368;
    font-weight: 400;
}
/* SECTION-6 */
.section-6{
    margin-top: 300;
}
.section-6 .font-weight{
    font-weight: 700 !important;
    line-height: 1.25 !important;
    font-size: 2rem;
    color: #242F51;
}
.section-6 p{
    color: #616368;
    font-weight: 400;
}

/* SECTION-7 */
.tests{
    display: flex;

}
.section-7 .font-weight{
    color: #242F51;
    font-weight: 700 !important;
}
.section-7 p{
    color: #616368;
}

/* SECTION-8 */
.section-8 h3{
    font-size: 2rem;
    font-weight: 700 !important;
    color: #242F51;
    line-height: 1.5;
    letter-spacing: 1.5;
}
.section-8 p{
    color: #616368;
}
.section-8 h5{
    font-weight: 700 !important;
}

/* SECTION-9 */
.section-9 .font-weight{
    font-size: 2rem;
    font-weight: 700 !important;
    color: #242F51;
    line-height: 1.5;
    letter-spacing: 1.5;
}
.section-9 p{
    color: #616368;
}
.card-title{
    background-color: #fafafa;
}

.card h3{
    font-weight: 700 !important;
    font-size: 2.5rem;
    color: #242F51;
}
.card span{
    font-weight: 400 !important;
    color: #616368;
    font-size: 1rem;
}
.card .card-sub-title{
    font-size: 1.2rem;
    font-weight: 700 !important;
    color: #242F51;
}
.card p{
    color: #616368;
}
.card a{
    color: #2500F9;
    text-decoration:none
}
.card a:hover{
  text-decoration:underline;
}

/* SECTION-10 */
.slider-person{
    display: flex;
    justify-content: flex-start;
}
.slider-title{
    font-size: 2rem;
    font-weight: 700 !important;
    color: #242F51;
    line-height: 1.5;
}
.section-10 p{
    font-weight: 400 !important;
    color: #616368;
    font-size: 1rem;
}
.slider-name{
    font-weight: 700 !important;
    color: #242F51;
    font-size: 1.2rem;
}
.carousel-title{
    font-size: 1.2rem;
    color: #242F51;
    font-weight: 700 !important;
}
.position{
    position: relative !important;
}
.carousel-control-prev {
    position: absolute;
    left: auto;
    right: 45px;
    top:-100px;
}
.carousel-control-next {
    position: absolute;
    left: auto;
    right: 0;
    top:-100px;
}
.carousel-control-next-icon {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23E2EAED' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E");
}
   
.carousel-control-prev-icon {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23E2EAED' class='bi bi-arrow-left-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");   
}

/* SECTION-12 */
.fw-bold{
    color: #242F51;
    font-size: 2.7rem;
    line-height: 1.5;
}
.section-12 p{
    color: #616368;
}

/* FOOTER */
.footer{
    background-color: #242F51;
    background-image: url(img/hero-bg.png);
}
.logo-footer{
    color: #FCAE61;
    font-size: 2rem;
}
.logo-footer1{
    color: white;
    font-size: 2rem;
}
.text-700{
   color: #7D7987 !important;   
}
.list-inline-item a{
    color: white;
}
.list-inline-item a:hover{
   cursor: pointer;
}






@media (max-width: 1199.98px) {
    .section-2 .section-title{
        width: 90%;
    }
    .section-2 .section-description{
        width: 90%;
    }
    .section-2 .time-section p{
        width: 100%;
    }
    .section-2 .prototyping p{
        width: 100%;
    }
    .section-2 .vector p{
        width: 100%;
    }
    .section-5 h3{
        width: 100%;
    }
    .designed{
        padding-left: 5px;
    }
  }
  
@media (max-width: 991.98px) { 
    .location h1{
        font-size: 40px;
    }
    #navbarCollapse{
        background-color: white;
        padding: 15px;
    }
    #navbarCollapse ul{ 
        margin-top: 25px;
        border-top: 1px solid rgba(225, 225,225, 0.6);
        padding-top: 10px;
    }
    .section-title{
        font-size: 2rem !important;
        width: 100%;
    }
    .section-description{
        width: 95%;
    }
    .section-5 h3{
        width: 100%;
        font-weight: 500 !important;
    }
    .designed{
        padding-left: 5px;
    }
    .card-first{
        margin-bottom: 30px;
    }
  
}
    
  @media (max-width: 768px){
    #navbarCollapse{
        padding: 15px;
         
     }
    .section-title{
        font-size: 1rem;
        width: 100%;
    }
    .section-description{
        width: 100%;
    }
    .designed{
        padding-left: 0;
    }
    .section-5 h3{
        text-align: center;
        padding: 0 70px;
    }
    .section-10 .img-fluid{
        margin-bottom: 30px;
    }
    .section-10 h3, .section-10 p{
      text-align: center;
    }
    .location-span{
        padding: .8rem 3rem .8rem 1px;
    }
  }

  @media (max-width: 575.98px) {
    
   }

